.department-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:24px;

margin-top:10px;

}

.department-card{

background:#182235;

border:1px solid #283652;

border-radius:18px;

padding:22px;

transition:.3s;

}

.department-card:hover{

border-color:#3b82f6;

transform:translateY(-4px);

}

.department-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.department-icon{

width:42px;

height:42px;

background:#1d3762;

color:#4da3ff;

display:flex;

align-items:center;

justify-content:center;

border-radius:12px;

font-size:20px;

}

.open-badge{

padding:5px 12px;

border-radius:20px;

background:#46340d;

color:#ffbf36;

font-size:13px;

font-weight:600;

}

.department-card h2{

color:white;

font-size:32px;

margin-bottom:6px;

}

.department-card p{

color:#8294b4;

margin-bottom:18px;

}

.department-stats{

display:flex;

gap:12px;

margin-bottom:18px;

}

.mini-card{

flex:1;

background:#22304a;

padding:16px;

border-radius:12px;

}

.mini-card h3{

color:white;

font-size:28px;

margin-bottom:6px;

}

.mini-card span{

color:#8094b5;

font-size:14px;

}

.department-footer{

display:flex;

align-items:center;

justify-content:space-between;

}

.department-footer button{

flex:1;

margin-right:18px;

padding:12px;

border:none;

background:#243552;

color:white;

border-radius:10px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.department-footer button:hover{

background:#3b82f6;

}

.edit-icon{

color:#8ea2c6;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.edit-icon:hover{

color:#3b82f6;

}